<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky top">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-family: 'Lobster', cursive;" href="#"><span
                style="color: rgb(255, 104, 49)">Ease</span>MyBill</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #212529;" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/products/new">Add Product</a></li>
                        <li><a class="dropdown-item" href="/products">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Customers
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #212529;" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="/customers/new">Add Customer</a></li>
                        <li><a class="dropdown-item" href="/customers">All Customers</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Bills
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #212529;" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="/customers/bill/addCustomer">Add Bill</a></li>
                        <li><a class="dropdown-item" href="/bills">All Orders</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else {%>
                        <a class="nav-link" href="/profile">Hello, <%= currentUser.username %> </a>
                        <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
            </div>
        </div>
    </div>
</nav>