<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaseMyBill</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@400;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Signika:wght@400;700&display=swap"
        rel="stylesheet">

    <style>
        body {
            min-height: 100vh;
            background-color: rgb(217, 251, 255);
        }

        .dropdown-menu-dark .dropdown-item {
            background-color: #212529;
            color: white;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }
    </style>

</head>

<body style="font-family: 'Merriweather', serif;" class="d-flex flex-column">
    <%- include('../partials/navbar')%>
        <main class="container mt-5 mb-3" style="min-height: 70vh;">
            <%- include('../partials/flash')%>
                <%- body %>
        </main>
        <%- include('../partials/footer')%>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
                crossorigin="anonymous"></script>
            <script src='/javascripts/validateForms.js'></script>
</body>

</html>